/* Набор правок для страницы чатов */

.body-element {
    margin: 10px;
}

.body-element-divider {
    display: flex;
    margin: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 7px;
    background: #ffffff;
    align-items: center;
    border: 1px solid #828282;
    justify-content: center;
    box-shadow: 0px 0px 10px #828282;
    font-weight: bold;
    color: #828282;
}

.body-element:hover {
    box-shadow: 0px 0px 15px #3d3d3d;
}
.body-element-avatar {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;
    background-size: cover;
}

.body-element-content {
    display: flex;
    flex-flow: column;
    width: calc(100% - 92px);
}

.body-element-header {
    font-size: 18px;
    color: #828282;
    margin-bottom: 10px;
    font-weight: bolder;
}

.body-element-text {
    font-size: 16px;
    color: #575757;
    white-space: pre-wrap;
}

.body-element-leave-button-img {
    left: 2px;
    width: 12px;
    height: 12px;
    margin: auto;
    position: relative;
}

@media (max-width: 750px) {

    .body-element-header {
        font-size: 13px;
    }

    .body-element-text {
        font-size: 12px;
    }

    .body-element-avatar {
        width: 35px;
        height: 35px;
    }
}