/* Ќабор стилей и правок дл€ страницы чата */

.body-element {
    width: 50%;
    margin: 10px;
    min-width: 250px;
}

.body-container {
    border-left: none;
}

.body-element-right {
    margin-left: calc(50% - 30px);
}

.messages-container {
    overflow: auto;
    height: calc(100% - 51px);
    border-left: 1px solid #d6d6d6;
}

.chat-input {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-around;
    border-top: 1px solid #d6d6d6;
}

.chat-input-textarea {
    height: 35px;
    resize: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    width: calc(95% - 50px);
}

.chat-input-send-button {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.chat-input-send-button-image {
    width: 70%;
    height: 70%;
}

.body-element-avatar {
    border: 0;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;
    background: #ffffff;
    background-size: cover;
}

.body-element-avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.body-element-content {
    display: flex;
    flex-flow: column;
    width: calc(100% - 92px);
}

.body-element-columns {
    display: flex;
}

.body-element-header {
    color: #828282;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.body-element-text {
    color: #575757;
    font-size: 16px;
    white-space: pre-wrap;
}

.body-remove-button-filler {
    height: 20px;
}

@media (max-width: 750px) {


    .body-element {
        width: 70%;
        min-width: 200px;
    }

    .body-element-right {
        margin-left: calc(30% - 20px);
    }

    .body-element-header {
        font-size: 12px;
    }

    .body-element-text {
        font-size: 11px;
    }

    .body-element-avatar {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .body-element-content {
        display: flex;
        flex-flow: column;
        width: calc(100% - 40px);
    }
}