@* Форма окна аутентификации/регистрации *@

@using Epam.ASPNet.PL.Models;
@using Epam.CommonLoggerInterface;

@{
    ILogger logger = CommonData.GetResolver().GetLogger;

    if (User.Identity.IsAuthenticated)
    {
        logger.Info("PL/auth: user is logged in, redirecting to user page");
        Response.Redirect("~/Pages/userPage.cshtml");
    }

    bool error = false;
    string saveButtonName = "Вход";
    string headerText = "Авторизация";
    string title = "Страница авторизации";
    string action = "/Models/authModel.cshtml";


    if (Page.HeaderText != null)
    {
        title = Page.Title;
        action = Page.Action;
        headerText = Page.HeaderText;
        saveButtonName = Page.SaveButtonName;
    }
    if (CommonData.authError)
    {
        error = true;
        CommonData.authError = false;
        logger.Info("PL/auth: auth error detected");
    }

    Layout = "/pages/_commonLayout.cshtml";
}

@if (error)
{
    <div class="auth-error-baloon">
        <p>Ошибка входа! Проверьте правильность ввода!</p>
    </div>
}

<link rel="stylesheet" href="/Pages/styles/auth.css">
<div class="background"> </div>
<div class="authcontainer">
    <form method="post" action=@action class="authform">
        <h1 class="authheader">@headerText</h1>
        <hr class="authhr">
        <p class="authlabel">Email:</p>
        <input type="email" required id="" name="email" class="authinput">
        <p class="authlabel">Пароль:</p>
        <input type="password" required maxlength="50" id="" name="password" class="authinput">
        @if (Page.HeaderText != null)
        {
            <p class="authlabel">Имя:</p>
            <input type="text" required maxlength="250" id="" name="name" class="authinput">
            <p class="authlabel">Дата рождения:</p>
            <input type="date" required id="" name="date" class="authinput">
        }
        <div class="authbuttons">
            @if (Page.HeaderText == null)
            {
                <button type="button" class="authbutton regbutton" onclick="RegistrationButtonClick()">Регистрация</button>
            }
            else
            {
                <button type="button" class="authbutton regbutton" onclick="BackToAuthButtonClick()">Выход</button>
            }
            <button type="submit" class="authbutton">@saveButtonName</button>
        </div>
    </form>
</div>
<script src="/Pages/scripts/authPage.js"></script>