@* Страница критической ошибки *@

@using Epam.ASPNet.PL.Models;
@using Epam.CommonLoggerInterface;

@{
    ILogger logger = CommonData.GetResolver().GetLogger;

    if (IsPost && Request["details"] != null)
    {
        Page.Exception = new Exception($"JS exception: {Request["details"]}");
        logger.Error($"PL/JS: js exception happend, text: {Request["details"]}");
    }
    else if (CommonData.commonException != null)
    {
        Page.Exception = CommonData.commonException;
        CommonData.commonException = null;
    }
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="~/Pages/styles/error.css">
    <title>Критическая ошибка</title>
</head>
<body>
    <div class="wrapper">
        <div class="image-container">
            <img class="error-img" src="/Pages/images/error.png" alt="Error emblem" />
        </div>
        <form class="error-container" action="/Models/logoutModel.cshtml" method="post">
            <h1 class="header">Критическая ошибка</h1>
            @if (Page.Exception != null)
            {
                <div class="columns">
                    <div class="c1">
                        <p class="text title">Перехваченное исключение:</p>
                        @if (Page.Exception.InnerException != null)
                        {
                            <p class="text title">Внутреннее исключение:</p>
                        }
                    </div>
                    <div class="c2">
                        <p class="text">'@Page.Exception.Message'</p>
                        @if (Page.Exception.InnerException != null)
                        {
                            <p class="text">'@Page.Exception.InnerException.Message'</p>
                        }
                    </div>
                </div>
            }
            <button class="reload-button">Перезапустить сеанс</button>
        </form>
    </div>
</body>
</html>


