@* Модель страницы регистрации (использует страницу аутентификации пользователя как базу) *@

@using Epam.ASPNet.PL.Models;

@{
    bool error = false;

    if (CommonData.authError)
    {
        CommonData.authError = false;
        error = true;
    }

    Page.HeaderText = "Регистрация";
    Page.SaveButtonName = "Сохранить";
    Page.Title = "Страница регистрации";
    Page.Action = "/Models/regModel.cshtml";
}

@if (error)
{
    <div class="auth-error-baloon">
        <p>Ошибка регистрации! Возможно, пользователь с таким адресом почты уже зарегестрирован!</p>
    </div>
}

@RenderPage("~/pages/authPage.cshtml");