@using Epam.ASPNet.PL;
@using Epam.CommonEntities;
@using Epam.DependencyResolver;

@{
    Layout = null;
    Resolver resolver = StaticElements.GetResolver();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Разработка в процессе...</h1>
    </div>
</body>
</html>
