* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background:  #0690cf;
    font-family: sans-serif;
}

input {
    height: 20px;
}


/* div-контейнеры для формы регистраци и изображения задания: */
.wrap {
    margin: 25px;
    margin-right: 0;
    border-radius: 7px;
    background: #ffffff;
    padding: 15px;
    border: 1px solid #000000;
    box-shadow: 2px 2px 10px #000000;
}

.wraper-text {
    margin: 15px;
    margin-left: 0;
    color: #000000;
    font-size: 19px;
    font-weight: bold;
}


/* Окно формы регистрации: */
.form {
    width: 398px;   /* Размеры как в задании */
    height: 274px;
    display: flex;
    flex-flow: column;
    background: #0690cf;
    border: 3px solid #0075b2;
}

.form-p {
    color: #ffffff;
}

/* Шапка окна формы регистрации и общие элементы формы: */
.form-head {
    height: 58px;
    padding-left: 20px;
    border-bottom: 1px solid #ffffff;
}

.form-head-text {
    font-size: 24px;
    margin-top: 18px;
}


/* div-контейнер с элементами ввода адреса e-mail: */
.email {
    height: 73px;
    padding-left: 20px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.email-input {
    width: 318px;
    margin-top: 3px;
}


/* div-контейнер с элементами ввода пароля: */
.pswd {
    height: 64px;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
}

.pswd-box {
    margin-left: 20px;
}

.pswd-input {
    width: 148px;
    margin-top: 3px;
}


/* div-контейнер с кнопкой "отправить" и его элементы: */
.btn {
    height: 58px;
    padding-left: 20px;
    display: flex;
    align-items: flex-end;
}

.btn-self {
    width: 82px;
    height: 26px;
    border: none;
    font-size: 12px;
    overflow: hidden;
    background: #ffdf7f;
}

.btn-self:hover{
    background: #ffd24d;
}

.btn-self:active {
    background: #ffc619;
}




