/* Кнопка "Добавить": */
.add-button {
    border: 0;
    width: 70px;
    height: 70px;
    position: fixed;
    overflow: hidden;
    border-radius: 50%;
    background: #d6d6d6;
    top: calc(100% - 90px);
    left: calc(100% - 90px);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button:hover {
    background: #828282;
}

.add-button:active {
    color: #ffffff;
    background: #f0f0f0;
    box-shadow: 1px 1px 10px #828282;
}

.add-button-image {
    width: 30%;
    height: 30%;
}