/* Тело: */
.body-container {
    z-index: 0;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
}

.body-element {
    width: 35%;
    padding: 15px;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 5px;
    background: #ffffff;
    border: 1px solid #828282;
    box-shadow: 0px 0px 10px #828282;
}

.body-element:hover {
    box-shadow: 0px 0px 15px #3d3d3d;
}

.body-element-header {
    font-size: 14px;
    color: #3d3d3d;
    margin-bottom: 5px;
    font-weight: bolder;
}

.body-element-text {
    width: 100%;
    font-size: 12px;
    color: #575757;
    white-space: pre-wrap;
}

.body-remove-button {
    border: 0;
    width: 20px;
    height: 20px;
    display: flex;
    margin-top: 5px;
    border-radius: 50%;
    position: relative;
    background: #828282;
    align-items: center;
    justify-content: center;
    left: calc(100% - 10px);
}

.body-remove-button:hover {
    background: #e0000f;
    box-shadow: -1px -1px 10px #ad000c;
}

.body-remove-button:active {
    background: #7a0008;
    box-shadow: -1px -1px 10px #ad000c;
}

.body-remove-button-img {
    width: 8px;
    height: 8px;
    margin: auto;
}

.hightlight {
    background: #d6d6d6;
    border-radius: 2px;
}